iframe {
	border: none;
}

#navbar-main {
	margin-bottom: 0;
}

#page {
	font-size: large;
}

#logo {
	width: 100%;
}

#main-column {
	float: right;
}

#sidebar-column {
	float: left;
}

svg[height="24"][width="24"] {
	position: relative;
	top: 3pt;
	margin-top: -3pt;
}
