iframe {
	border: none;
}

#logo {
	width: 100%;
}

#main-column {
	float: right;
}

#sidebar-column {
	float: left;
}

svg[height="24"][width="24"] {
	position: relative;
	top: 3pt;
	margin-top: -3pt;
}

body {
	background-color: #fcfcfc;
	color: #222222;
	font-size: 14pt;
}
