/* Positions */
#sidebar {
	float: left;
	position: relative;
	padding: 20px;
	width: 200px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#888888));
	background: -webkit-linear-gradient(top, #888888, #FFFFFF);
	background: -moz-linear-gradient(top, #888888, #FFFFFF);
	background: -ms-linear-gradient(top, #888888, #FFFFFF);
	background: -o-linear-gradient(top, #888888, #FFFFFF);
}

#main {
	float: left;
	margin: 0px;
	margin-left: 25px;
	width: 650px;
}

body {
	float: left;
	min-width: 915px;
	color: #141414;
	background-color: #FFFFFF;
}

#sidebar ol {
	padding: 0;
}

#sidebar li a {
	text-decoration: none;
}

#sidebar li {
	border-bottom: thin solid rgba(55, 42, 26, 1);
	margin: 20px 0px;
	line-height: 1.05;
	list-style-type: none;
	font-size: x-large;
}

/* Fonts */
h1,h2,h3,h4,#sidebar a {
	font-family: "Century Gothic", sans-serif;
}

h1 {
	font-size: 1.6em;
}

div.post-content > h1 {
	font-size: 1.4em;
}

h2 {
	font-size: 1.1em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: .8em;
}

body {
	font-family: "Tahoma", sans-serif;
	font-size: large;
}

/* Pieces */
img {
	width: 100px;
	padding: 10px;
}

img.logo {
	display: block;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

div#edit-post-link {
	position: fixed;
	top: 2.5em;
	right: 0;
	border: 0;
	font-size: x-large;
	-webkit-transform: rotate(45deg);
	-o-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
}

div#edit-post-link a {
	text-decoration: none;
	color: gray;
}

blockquote {
	background-color: #999999;
	padding: 5px 30px;
	border-radius: 5px;
	margin: 10px 20px;
}

code {
	font-family: "Monaco", "Courier", monospace;
}
